name: Deploy Calculator App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Build Docker container
        run: |
          cd ~/LOG430-LAB0
          docker build -t calculatrice .

      - name: Restart container
        run: |
          docker stop calc-app || true
          docker rm calc-app || true
          docker run -d --name calc-app -p 8080:8080 calculatrice
